*{
    margin: 0;
    padding: 0;
}
.iframe-container{
    /* 100%窗口高度 */
    height: 100%;
    width: 100%;
    /* 弹性布局 居中显示 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 渐变背景 */
    background: #FFFFFF;
}
.container_combine{
    display: flex;
    justify-content: center;
    align-items: center;
    /* 允许换行 */
    flex-wrap: wrap;
}
.card_combine{
    position: relative;
    width: 240px;
    height: 350px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #f5f5f5;
    /* 阴影 */
    box-shadow: 0 1px 1px rgba(0,0,0,0.1),
    0 2px 2px rgba(0,0,0,0.1),
    0 4px 4px rgba(0,0,0,0.1),
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
    /* 溢出隐藏 */
    overflow: hidden;
}
.card_combine::before{
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url(/images/139/1.jpg); */
    background-size: cover;
    background-position: 0 0;
    /* 过渡效果: css属性名 时长 贝塞尔曲线 */
    transition: transform 1s cubic-bezier(0.19,1,0.22,1);
}
/* 分别设置应用程序图片 */
.card_combine:nth-child(1)::before{
    background-image: url(/static/images/classification.jpg);
}
.card_combine:nth-child(2)::before{
    background-image: url(/static/images/segmentation.jpg);
}
.card_combine:nth-child(3)::before{
    background-image: url(/static/images/detection.jpg);
}
.card_combine:nth-child(4)::before{
    background-image: url(/static/images/faultdiagnosis.jpg);
}
.card_combine:nth-child(5)::before{
    background-image: url(/static/images/image_capture.jpg);
}

/* 遮罩 */
.card_combine::after{
    content: "";
    display: block;
    width: 100%;
    height: 200%;
    background: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.25) 55%,
    rgba(0,0,0,0.8) 100%);
    /* 绝对定位 */
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(0);
    /* 过渡效果 */
    transition: transform 1.4s cubic-bezier(0.19,1,0.22,1);
}
.card_combine .content_combine{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 16px 8px;
    transform: translateY(76%);
    transition: transform 0.7s cubic-bezier(0.19,1,0.22,1);
}
.card_combine h2{
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    top: -20%;
}
.card_combine p{
    font-size: 15px;
    /* 字间距 */
    letter-spacing: 2px;
    width: 80%;
    line-height: 30px;
    margin-top: 25px;
    /* 文本两端对齐 */
    text-align: justify;
}
.card_combine .btn{
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 25px;
}
.card_combine .btn:hover{
    background-color: #000;
}
.card_combine .content_combine *:not(h2){
    /* .content_combine下，除了h2，其他元素隐藏并下移20px */
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.7s cubic-bezier(0.19,1,0.22,1),opacity 0.7s cubic-bezier(0.19,1,0.22,1);
}
.card_combine:hover{
    align-items: center;
}
.card_combine:hover::before{
    transform: translateY(-5%);
}
.card_combine:hover::after{
    transform: translateY(-50%);
}
.card_combine:hover .content_combine{
    transform: translateY(0);
}
.card_combine:hover .content_combine *:not(h2){
    opacity: 1;
    transform: translateY(0);
    /* 过渡效果延迟 */
    transition-delay: 0.1s;
}