{% extends "templates_cls/base.html" %} {% block styles %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='models_storage/css/category.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='models_storage/css/model.css') }}"
/>
{% endblock %} {% block content %} {{ super() }}

<ol class="breadcrumb">
  <li class="breadcrumb-item">您的位置</li>
  <li class="breadcrumb-item active">
    <a href='{{url_for('dashboard.dashboard_application')}}'>
    应用程序
    </a>
  </li>
  <li class="breadcrumb-item active"> 
    <a href='{{url_for('dashboard.dashboard_cls')}}'>
    缺陷分类
    </a>
  </li>
  <li class="breadcrumb-item active">模型库</li>
</ol>

<div class="storage-container">
  <div class="category-container">
    <span>数据集</span>
    <div class="Libraries">
      <button class="category">PyTorch</button>
      <button class="category">Fill-Mask</button>
      <button class="category">Fill-Mask</button>
      <button class="category">Fill-Mask</button>
      <button class="category">Fill-Mask</button>
      <button class="category">Fill-Mask</button>
      <button class="category">Fill-Mask</button>
    </div>
  </div>
  <div class="models">
    {# TODO 使用jQuery or ajax get请求使用查询字符串实现选择#}
    <div class="models-header">
      <h3>模型</h3>
      <label class="model-search">
        <input type="text" placeholder="搜索模型" />
      </label>
      <div class="sort-models">
        <button>排序方式: 喜爱度</button>
      </div>
    </div>
    <div class="model-container"></div>
  </div>

  <div class="hazel"></div>
  <div class="model-intro"></div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script src="{{ url_for('static', filename='models_storage/js/create_view.js') }}"></script>
{% endblock %}
